body { 
	font-family: segoe-ui_normal,Segoe UI,Segoe,Segoe WP,Helvetica Neue,Helvetica,sans-serif;
	display: grid;
	grid-template-areas: 
    "header header header"
    "nav section aside"
    "footer footer footer";
	grid-template-rows: 80px 1fr 50px;
	grid-template-columns: 15% 1fr 18%;
    height: 925px;
}

header {
	background: #ffffff;
	grid-area: header;
	height: 125px;
}


section {
	margin-top: 45px;
	background: #ABABAB;
	grid-area: section;    
}

aside {
	margin-top: 45px;
	background: #00ff62;
	grid-area: aside; 
}

footer {
	height: 84px;
	background: #ffffff;
	grid-area: footer;
}

header, nav, section, aside, footer {
	padding: 5px;
}