@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@300&family=VT323&display=swap");

a {
  font-family: "VT323", monospace;
}

.btn-togo {
  border-radius: 15px;
  color: rgb(255, 255, 255);
  background-color: black;
  border-color: darkmagenta;
  font-family: "VT323", monospace;
  font-size: 26px;
}

.fcc-btn {
  border-radius: 15px;
  background-color: black;
  color: white;
  font-family: "VT323", monospace;
  font-size: 26px;
  padding: 15px 25px;
  border-color: darkmagenta;
  text-decoration: none;
}

.fcc-btn:hover {
  color: darkmagenta;
  background-color: rgb(255, 255, 255);
  border-color: darkmagenta;
}
