@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@300&family=VT323&display=swap");

body {
  background-image: url("../Assets/img/Background.png");
  overflow: hidden !important;
}

.div-video {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.logo-steam {
  height: 60px;
  width: 60px;
}

.available-steam {
  font-family: "VT323", monospace;
  font-size: 35px;
  margin: 0;
  color: rgb(255, 255, 255);
}

/*VIDEO*/
.video {
  border: 1rem solid rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 960px) {
  body {
   /* overflow: scroll !important;*/
  }

  .logo-steam {
    height: 40px;
    width: 40px;
  }

  .available-steam {
    font-family: "VT323", monospace;
    font-size: 25px;
    margin: 0;
    color: rgb(255, 255, 255);
  }
}

.icon-footer:hover{
  color: #ad4d61;
}

.active {
  color: #ad4d61 !important;
}