@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@300&family=VT323&display=swap");

body {
  background-color: #a4bedb;
  overflow: hidden;
}
.titulo {
  font-family: "Fredoka One", cursive;
  font-size: calc(2.7rem + 1.5vw);
  margin-top: 1rem;
}

.div-general {
  background-color: rgba(255, 255, 255, 0.6);
  overflow-y: scroll;
  height: 669px;
  width: 950px;
}

.div-subject {
  border-radius: 15px;
  margin: 0px 30px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: start;
}

/* SCROLL*/
.div-general::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgb(213, 172, 172);
  background-color: #dbe5f0;
}

.div-general::-webkit-scrollbar {
  width: 20px;
  background-color: #ffffff99;
}

.div-general::-webkit-scrollbar-thumb {
  background-color: #a4bedb;
  border-width: 8px;
  border-right-style: solid;
  border-right-color: #ffffff99;
  border-bottom-style: solid;
  border-bottom-color: #ffffff99;
  border-top-width: 30px;
  border-top-style: solid;
  border-top-color: #ffffff99;
}


.fecha_upd{
    font-family: "VT323", monospace;
    font-size: 25px;
    margin: 0;
    opacity: 0.6;
}

.update-tittle {
    font-family: "VT323", monospace;
    font-size: 25px;
    margin: 0;
  }
  
  
  .update-descripcion {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    font-size: 15px;
  }
  

  .w3-modal{
    height: 1000px;
    width: 1000px;
    background-color: #a4bedb4b;
    display: none;
  }

  .icon-footer:hover{
    color: #a4bedb;
  }