#Header{
    width: 100%;
    display: block;
    position: fixed;
    background-color: #ffffff;
}

.NavbarStyle{
    background-color: #ffffff;
}

.NavbarOnis{
    justify-content: right;
}


#NavbarFontShop{
    font-family: "VT323";
    font-size: 25px;

}

/*-------------------*/


#Footer{
    height: 50px;
    padding-top: 10px;
    padding-left: 25px;

    font-family: "VT323";
    font-size: 23px
}

/*--------------------*/


#MyBody{
    background-color: #F2C4A7;
}

#MyContent{
    background-color: #f9e8dd;
    overflow-y: scroll;
    height: 740px;
    width: 1200px;
    
}

#MyContent::-webkit-scrollbar-track {
    background-color: #f9e8dd;
}

#MyContent::-webkit-box-shadow{
    box-shadow: inset 0 0 0px rgb(242, 183, 203); ;

}
  
#MyContent::-webkit-scrollbar {
    width: 20px;
    background-color: #f9e8dd
}
  
#MyContent::-webkit-scrollbar-thumb {
    background-color: #c17313;
    border-width: 8px;
    border-right-style: solid;
    border-right-color: #f9e8dd;
    border-bottom-style: solid;
    border-bottom-color: #f9e8dd;
    border-top-width: 30px;
    border-top-style: solid;
    border-top-color: #f9e8dd;
}




/*-------------------------------*/
/*Components*/

#Portrait{
    background-color: #F5CEC7;
    margin-bottom: 10px;

    display: flex;
    justify-content:center;
    align-items: center;
}

.RowPortrait{
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;

    /*
    border-style: solid;
    border-color: rgb(166, 11, 11);*/
    
}


.ColObjectImg{
    
    padding-top: 15px;
    background-color: rgb(254, 253, 251);
    height: 390px;
    width: 340px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;


   /*eje x | eje y | blur-radius = opacidad | spread-radius = expander alrededor| color */
    box-shadow:5px 5px 10px 5px rgba(0, 0, 0, 0.2);


}

.ImgPortrait{
    height: 300px;
    width: 300px; 
    
    border-style: solid;
    border-color: #756153b2;

}

/*---------------------------------*/

#Filters{
    background-color: #bfa662a8;
    padding-top: 10px;
    height: 60px;
    margin-bottom: 15px;

    font-family: "Open Sans", sans-serif;
    
}

.ButtonFiltersSearch{
    
    font-style: oblique;
    justify-content: center;
    color: black;
    border-style: solid;
    border-color: black;
    height: 40px;
    width: 40px;

}

#iconSearch{
    height: 20px;
    width: 20px;
    padding-right: 3px;
    /*backgrpung-image: url('')*/
}

/*---------------------------------*/

#Catalog{
    background-color: #ffffff5f;
    overflow-y: scroll;
    height: auto;
    width: 1000px;
    padding-top: 20px;

    
    display: flex;
    justify-content:center;
    align-items: center;



}

#Catalog::-webkit-scrollbar-track {
    background-color: #f5bf9c;
}

#Catalog::-webkit-box-shadow{
    box-shadow: inset 0 0 0px rgb(242, 183, 203); ;

}
  
#Catalog::-webkit-scrollbar {
    width: 20px;
    background-color: #f5bf9c
}
  
#Catalog::-webkit-scrollbar-thumb {
    background-color: #e1c4a1;
    border-width: 8px;
    border-right-style: solid;
    border-right-color: #f5bf9c;
    border-bottom-style: solid;
    border-bottom-color: #f5bf9c;
    border-top-width: 30px;
    border-top-style: solid;
    border-top-color: #f5bf9c;
}



.ButtonHoverImage{
    position: relative;
}




.ImgCatalog{
    height: 210px;
    width: 210px; 

    margin-bottom: 30px;

    border-style: solid;
    border-color: #756153b2;

    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;

}

.ButtonSeeMore{
    
    font-style: oblique;
    justify-content: center;
    height: 40px;
    width: 40px;

    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

    font-family: "Open Sans", sans-serif;
    font-size: 10px;

}


.ButtonHoverImage:hover .ImgCatalog{
    opacity: 0.3;
}

.ButtonHoverImage:hover .ButtonSeeMore{
    opacity: 1;
}

#iconSeeMore{
    height: 20px;
    width: 20px;
    padding-right: 3px;
    /*backgrpung-image: url('')*/
}


/*--------------------------*/

.MyModal{
    background-color: #F1F1F1;
}

#Paragraph{
    width: 300px;
}

#iconCart{
    height: 20px;
    width: 20px;
    padding-right: 3px;
    /*backgrpung-image: url('')*/
}

.ImgCatalogInfo{
    height: 300px;
    width: 300px; 

    margin-bottom: 30px;

    border-style: solid;
    border-color: #756153b2;

}


.ColSeparationColumnEmpty{
    width: 50px;
}

#TableInfo{
    margin-left: 100px;
    margin-right: 100px;
}

.TDAligment_Title{
    text-align: left;
}

.TDAligment_Content{
    text-align: center;
}

#ButtonsCloseCart{
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
}



